<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="onNewRecipe()">New recipe</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <app-recipe-item *ngFor="let item of recipes; let i = index"
                         [recipe]="item"
                         [index]="i"
        (recipeSelected)="onRecipeSelected(item)"
        ></app-recipe-item>
    </div>
</div>