<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe book</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
                <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping list</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a class="dropdown-toggle" style="cursor: pointer;">Manage <span class="caret"></span> </a>
                    <ul class="dropdown-menu">
                        <li style="cursor: pointer;"><a>Save data</a></li>
                        <li style="cursor: pointer;"><a>Fetch data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>